
<ul>
  <li><a href="/join">Become a Member</a></li>
  <li><a href="https://github.com/PatchworkAutomata/website" target="_blank">GitHub</a></li>
  <li>Discord</li>
  <li>Search</li>
</ul>
<h2>Tools</h2>
<ul>{% for tool in tools -%}
  <li><a href="{{ tool.data.permalink }}">{{ tool.data.title }}</a></li>
{% endfor -%}</ul>
