---
layout: layouts/base.liquid
---
<h2>Tool: {{ title }}</h2>
{{ content }}

{% assign guides = collections.guides | filterItemsByTag: tag | filterItemsByStatus: statusForFilter %}
{% include "snippets/item_list", name: "Related Guides", list: guides %}

{% assign tricks = collections.tricks | filterItemsByTag: tag | filterItemsByStatus: statusForFilter %}
{% include "snippets/item_list", name: "Related Tricks", list: tricks %}
