---
layout: layouts/base.liquid
---

Exploring options for the future <a href="https://www.patchworkautomata.com/" target="new"
>Patchwork Automata</a> site.

<h2>Guides</h2>
<ul>{% for guide in collections.guides -%}
  <li><a href="{{ guide.data.permalink }}">{{ guide.data.title }}</a></li>
{% endfor -%}</ul>
