---
layout: layouts/base.liquid
---
<h2> Become a Member</h2>

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1Mr6YvD9MxxAaI2K5rwocuq3"
publishable-key="pk_live_51MbUyJD9MxxAaI2KGEIEplYTijutD7BeIVlqFFjoMbqOePQUl3FmEaqLugEJPjf1XCG2wtgMWLumMYt8fyZVTgFm001BdjJgPJ">
</stripe-pricing-table>

Already have a subscription? <a href="https://billing.stripe.com/p/login/28o5lK4SOfxma6Q288" target=_blank>Manage it through Stripe</a>.